

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;

}

body {
  background-color: black;
  /* Set background size to cover the entire viewport */
  background-size: cover;
  /* Set background to no-repeat */
  background-repeat: no-repeat;
  /* Center the background */
  background-attachment: fixed;
  /* You can adjust background properties as needed */
}
